/** start custom CSS **/

/** Start Custom Login CSS **/

 .custom-background {
     background: linear-gradient(101.8deg, rgb(28, 28, 224) -0.2%, rgb(153, 68, 230) 55.2%, rgb(235, 18, 180) 84.4%);
     border-radius: 25px;
     /* Change this color to your preferred background color */
}

.custom-background h3 {
     color: white;
}

.custom-background a:link {
     color: green;
}

.custom-background a:visited {
     color: white;
}

.custom-background a:hover {
     color: red;
}

.contact1 {
     background: linear-gradient(101.8deg, rgb(28, 28, 224) -0.2%, rgb(153, 68, 230) 55.2%, rgb(235, 18, 180) 84.4%);
     padding-bottom: 467px;
     padding-top: 88px;
}

.main_form_login {
     width: 100%;
}

.main_form_login .contactus {
     padding: 0px 10px;
     margin-bottom: 20px;
     width: 100%;
     height: 50px;
     background: #fff;
     color: #501f14;
     font-size: 17px;
     font-weight: normal;
     border-radius: 11px;
     border: inherit;
     box-shadow: 0px 0px 2px 0 #f34b52d4;
}

.main_form_login .send_btn1 {
     font-size: 18px;
     transition: ease-in all 0.5s;
     text-align: center;
     background-color: #3e0bce;
     text-transform: uppercase;
     color: #fff;
     cursor: pointer;
     /* max-width: 193px; */
     width: 30%;
     display: block;
     margin-left: 401px;
     margin-top: 10px !important;
     font-weight: 600;
     height: 53px;
     border-radius: 10px;
     padding: 13px 0;
     box-shadow: 1px 3px 9px 3px black;
}

.main_form_login .send_btn1:hover {
     background: #8A2BE2;
     color: #fff;
     transition: ease-in all 0.5s;
}

.new_title {
     padding-bottom: 60px;
}

.new_title h2 {
     font-size: 45px;
     color: whitesmoke;
     line-height: 60px;
     font-weight: bold;
     padding: 0;
     display: inline-block;
}
/** End Custom Login CSS **/

/** Start Custom Register CSS **/

.register_body{
     background: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
     padding-bottom: 467px;
     padding-top: 88px;
}

.custom-background-reg{
     background: linear-gradient(101.8deg, rgb(28, 28, 224) -0.2%, rgb(153, 68, 230) 55.2%, rgb(235, 18, 180) 84.4%);
     border-radius: 25px;
}

.custom-background-reg h3 {
     color: white;
}

.custom-background-reg a:link {
     color: green;
}

.custom-background-reg a:visited {
     color: white;
}

.custom-background-reg a:hover {
     color: red;
}

.main_form_reg .contactus {
     padding: 0px 10px;
     margin-bottom: 20px;
     width: 100%;
     height: 50px;
     background: #fff;
     color: #501f14;
     font-size: 17px;
     font-weight: normal;
     border-radius: 11px;
     border: inherit;
     box-shadow: 0px 0px 2px 0 #f34b52d4;
}
.main_form_reg .send_btn1 {
     font-size: 18px;
     transition: ease-in all 0.5s;
     text-align: center;
     background-color: #3e0bce;
     text-transform: uppercase;
     color: #fff;
     /* max-width: 193px; */
     width: 30%;
     display: block;
     margin-left: 401px;
     margin-top: 10px !important;
     font-weight: 600;
     height: 53px;
     border-radius: 10px;
     padding: 13px 0;
     box-shadow: 1px 3px 9px 3px black;
}

.main_form_reg .send_btn1:hover {
     background: #8A2BE2;
     color: #fff;
     transition: ease-in all 0.5s;
}

.copyright-custom{
     /* margin-top: 90px; */
     padding-bottom: 25px;
     background: #8A2BE2
}

.copyright-custom p {
     color: #fff;
     font-size: 17 px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: 400;
     font-weight: normal;
}

.show_style{
     color: #fff;
     font-weight: bold;
}

.custom_label_reg{
     color: #fff;
     font-weight: bold;
     font-size: large;
}

.custom_label_login{
     color: #fff;
     font-weight: bold;
     font-size: large;
}

/** End Custom Register CSS **/

/* Start Custom Booking CSS */

.inner_page{
     background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}
#header_book {
     background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
     color: #fff;
     text-align: center;
     padding: 20px;
}
#header_book h1 {
     margin: 0;
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     font-style: italic;
}
.container_book {
     max-width: 800px;
     margin: 20px auto;
     padding: 20px;
     background-color: #fff;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.card_book{
     /* max-width: 1040px; */
     border: solid 5px rgb(203, 195, 227);
     border-radius: 15px;
     background-color: azure;
}

.card_book img{
     margin-left: 15px;
     margin-top: 65px;
}

.card_book h2{
     text-align: center;
     text-decoration: underline;
     font-weight: bold;
}

.bold-text {
     font-weight: bold;
     font-family: 'Poppins', sans-serif;
}

/* Open Form/Search Function Button */

.form-popup {
  display: none;
  /* position: fixed; */
  border: 6px solid #f1f1f1;
  width: 100%;
  padding: 10px;
  background: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
}

/* Add a red background color to the cancel button */
.form-popup .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-popup .btn:hover, .open-button:hover {
  opacity: 5;
}

.open-button-popup {
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  color: white;
  border: solid 5px white;
  margin: auto 10px;
  border-radius: 25px;
  padding: 16px 20px;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
  transition: width 2s;
}

.open-button-popup:hover {
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  color: white;
  border: solid 5px white;
  margin: auto 10px;
  border-radius: 25px;
  padding: 16px 20px;
  cursor: pointer;
  opacity: 0.8;
  width: 500px;
}

.style_card{
  background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}

.style_card h4{
     text-align: center;
     color: #fff;
     font-weight: bold;
}

.search_bar{
     border: solid black 5px;
}

.pagination{
     text-align: center;
}

.pagination a{
   padding:8px 16px;
   /* border:10px solid #ccc; */
   color:black;
   font-weight:bold;
}

.pagination a:hover{
     color: #3e0bce;
}

.pagination span{
   padding:8px 16px;
   /* border:10px solid #ccc; */
   color:gray;
   font-weight:bold;
}

.main_form_reg #ic_error,
.main_form_reg #fname_error,
.main_form_reg #lname_error,
.main_form_reg #uname_error,
.main_form_reg #kelas_error,
.main_form_reg #pwd_error{
	margin-top: 5px;
	/* width: 345px; */
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
     color: #fff;
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}

.custom_btn{
     margin-left: auto;
}